server {
    listen  80;
    listen  [::]:80;

    server_name {{ item.domain }};

    {% for location in item.nginx_locations %}
        location {{ location.path }} {
            proxy_pass {{ location.proxy_address }};
        }
    {% endfor %}
}