[Unit]
Description=Git Server

[Service]
Type=simple
User={{ gitea_user }}
Group={{ gite_group }}
ExecStart=/usr/local/bin/gitea -C /home/gitea/custom -w /home/gitea/

[Install]
WantedBy=multi-user.target